@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}



h1{
    color: red;
}
.content {
    padding: 1rem;
}
ol.pokemons {
    display: grid;
    grid-template-columns:  1fr 1fr;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ol.pokemons li {
   background-color: #14a06f;
   color: white;
   border-radius: 1rem;
    padding: 2rem 1rem;
    margin: 0.5rem;
    height: 100px;
}